@media (max-width: 1200px) {
  .nav-colored {
    background-color: red; }
  .about__item, .who__item {
    box-sizing: border-box;
    margin: 1rem; }
  .testimonials__items {
    box-sizing: border-box;
    padding-left: 2rem; }
  .blog__item-date {
    top: -1rem; } }

@media (max-width: 1144px) {
  .footer__item-left {
    display: block;
    width: 50%; }
  .footer__item-center {
    display: flex;
    width: 50%;
    padding-bottom: 2rem; }
    .footer__item-center::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #e5e5e5; }
  .footer__item-right {
    display: block;
    width: 100%;
    margin-top: 2rem;
    min-height: 100px; }
    .footer__item-right > .item-title {
      padding-bottom: 1rem;
      text-align: center; }
  .instagram-photos {
    display: flex;
    justify-content: space-between; }
  .more-photos {
    text-align: right;
    position: relative;
    top: 1rem; }
  .followers::after {
    position: absolute;
    bottom: 0; }
  .blog {
    margin-right: 0; }
  .portfolio__items {
    padding-bottom: 0; }
  section, article {
    margin-top: 2rem; } }

@media (max-width: 915px) {
  .services__items {
    margin-left: 1rem; }
  .services__item {
    width: 50%; }
    .services__item .services--description {
      font-size: 1rem;
      color: grey;
      margin-right: 1rem; }
    .services__item .services--title {
      font-size: 1.1rem; }
  .caption {
    font-size: 1rem; }
  .quote--author {
    left: 165px;
    clear: both; }
    .quote--author:after {
      width: 45px; }
  .who__item--matt {
    background-position: left center; } }

@media (max-width: 890px) {
  .subscribe__button {
    width: auto; } }

@media (max-width: 860px) {
  .instagram-photos {
    flex-wrap: wrap; }
  .logos__container img {
    width: 15%; }
  .logos {
    height: 100%; } }

@media (max-width: 825px) {
  .service_two__items {
    flex-direction: column; }
  .service_two--img {
    width: 100%;
    height: 200px;
    margin-bottom: 2rem; }
  .service_two--info {
    width: 100%;
    margin-left: 0; }
  .testimonials__person {
    width: 80%;
    margin-bottom: 0; }
  .testimonials__items {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .facts__item .number {
    font-size: 4rem; }
  .portfolio-item {
    height: 200px; }
  .portfolio__items {
    height: auto;
    width: 100%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%; }
  .portfolio-item-c {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    background-position: center 53%; }
  .subscribe__button {
    width: auto; } }

@media (max-width: 770px) {
  .footer__item-left {
    width: 100%; }
  .footer__item-center {
    width: 100%;
    padding: 1rem 0; }
  .subscribe__button {
    width: 150px; }
  .who__item {
    margin: 0; } }

@media (max-width: 750px) {
  .facts__item .number {
    font-size: 3rem; }
  .facts__item .description {
    font-size: .8rem; }
  .services__items {
    flex-direction: column;
    padding-top: 0;
    margin-left: 0;
    padding: 0; }
  .services__item {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    height: auto;
    padding: 1rem 0; }
  .feature__item--iphone {
    left: 180px; }
  .blog__items {
    flex-direction: column;
    padding-top: 0; }
  .blog__item {
    width: 100%;
    padding-bottom: 3rem; }
  .blog__item:nth-child(2) {
    margin: 0; }
  .blog__item-date {
    top: 1rem; }
  .blog__item-description .title {
    font-size: 1.2rem; }
  .blog__item-caption {
    font-size: 1rem; }
  .slider__subcaption {
    font-size: 5rem; } }

@media (max-width: 670px) {
  .header__navbar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: green;
    height: auto;
    width: 100%; }
    .header__navbar li {
      display: block;
      font-size: 1rem; }
  .nav__item {
    padding: 1rem;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid red;
    text-align: center;
    display: block; }
  .nav {
    width: 100%; }
  .nav__form {
    display: block; } }
