html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

#header {
  width: 30%;
  height: 100%;
  background: #000;
  background-position: 0 0;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; }

.last {
  width: 100%;
  margin-top: 20px; }

#header-bg {
  background-color: rgba(9, 157, 179, 0.5);
  background-image: linear-gradient(to bottom, rgba(255, 0, 124, 0.6), #099db3);
  height: 100%; }

#header-inner {
  background-image: url(img/header_bg_default.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  position: relative;
  height: 100%;
  animation: inner-bg 70s infinite linear;
  padding: 1px 50px 0 50px; }
@keyframes inner-bg {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -500px 0; } }
.logo {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 72px;
  margin: 0 auto; }

.header-menu {
  text-align: right;
  font-size: 20px;
  padding-top: 50px;
  overflow: hidden; }
  .header-menu ul.main-menu {
    transition: all 1s ease-in-out; }
    .header-menu ul.main-menu li {
      position: relative; }
      .header-menu ul.main-menu li span a {
        position: relative;
        right: 0;
        text-decoration: none;
        color: #fff; }
      .header-menu ul.main-menu li span a:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 100%;
        margin: 0 10px 0 0;
        width: 500px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2); }
      .header-menu ul.main-menu li span a:hover {
        right: 10px; }

.header-navigation {
  width: 60%;
  margin: 0 auto; }

.current-menu-item span a {
  color: #edcf56 !important; }

.header-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 350px;
  width: 100%;
  background-color: rgba(9, 157, 179, 0.5);
  transition: all 1s ease-in-out; }

.header-footer-contact {
  margin-top: 60px;
  height: 150px;
  transition: all 1s ease-in-out; }
  .header-footer-contact ul {
    padding: 0 60px; }

.abc {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center; }

.open-up {
  display: none; }

.appointment-button {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px; }

.li-fcontact {
  float: left;
  font-weight: bold;
  color: #fff;
  width: 40%;
  line-height: 2em;
  font-size: 13px;
  padding-left: 30px;
  margin-bottom: 30px;
  position: relative; }
  .li-fcontact:nth-child(odd) {
    clear: left;
    margin-right: 20px; }
  .li-fcontact i.fa {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 20px; }
  .li-fcontact dl dt {
    clear: left;
    float: left;
    width: 40%;
    display: inline-block; }
  .li-fcontact dl dd {
    display: inline-block;
    width: 60%;
    float: left; }

.clearfix:before, .clearfix:after {
  display: table;
  clear: both;
  height: 0;
  content: ""; }

.menu-item {
  padding: 15px 0 0 0; }

.header-social {
  padding: 0 10%; }
  .header-social ul {
    position: absolute;
    bottom: 30px;
    padding: 0 5px; }
    .header-social ul li {
      display: inline-block;
      border: 0px solid transparent; }
      .header-social ul li i {
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto;
        padding: 5px;
        width: 30px;
        height: 30px;
        font-size: 15px;
        color: #fff;
        line-height: 30px;
        text-align: center; }
      .header-social ul li i:hover {
        border: 1px solid white;
        color: #edcf56; }
  .header-social ul:after, .header-social ul:before {
    content: "";
    display: block;
    height: 1px;
    width: 500px;
    position: absolute;
    top: 50%;
    right: 100%;
    background-color: rgba(255, 255, 255, 0.2); }
  .header-social ul:after {
    right: auto;
    left: 100%; }

.rwd-menu-anchor {
  visibility: hidden; }

.wrapper {
  margin-left: 30%;
  height: 100%;
  position: relative; }

.main-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  align-items: center; }

.content {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden; }

.main-content, .add-padding {
  background: #fff;
  padding: 80px 100px 0 100px; }

.add-padding {
  border: 0; }

.section-title {
  display: block; }
  .section-title em {
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    width: 80%; }

.baner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  margin-bottom: 20px; }
  .baner .baner-description {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px; }
    .baner .baner-description ul li {
      font-family: Arial;
      font-size: 20px;
      display: inline;
      padding: 0 20px;
      font-weight: bold; }
    .baner .baner-description ul li:nth-child(odd) {
      color: #ff007c; }

.slides {
  display: block;
  width: 8000px;
  height: 100%;
  margin: 0;
  padding: 0; }

.slide {
  height: 500px;
  width: auto;
  float: left; }

.baner-progressbar {
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  background: linear-gradient(-90deg, #CC2C81, #935A9B); }

.gallery {
  width: 100%;
  overflow: hidden;
  display: block; }
  .gallery:hover {
    cursor: -webkit-grab; }
  .gallery ul.gallery-slider-container li.gallery-section {
    float: left; }

.mdown {
  cursor: -webkit-grabbing; }

.drivers-section-gallery {
  margin: 5px 0 0 0;
  text-align: center;
  display: block;
  width: 100%;
  height: 50px; }

.description {
  letter-spacing: 1px;
  text-indent: 50px; }

h1 {
  font-family: Tahoma;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  margin-bottom: 3px; }
  h1:before {
    content: "";
    height: 25px;
    width: 8px;
    display: inline-block;
    background-color: red; }

.no-em:after {
  content: "";
  display: block;
  padding-bottom: 20px; }

.testimonial, .full-width-section {
  width: 100%;
  height: auto; }
  .testimonial .testimonial-content, .full-width-section .testimonial-content {
    width: 80%;
    margin: 0 auto; }
    .testimonial .testimonial-content blockquote, .full-width-section .testimonial-content blockquote {
      font-size: 25px;
      padding: 30px;
      font-style: italic; }

.testimonial-portrait {
  display: inline;
  float: left;
  padding: 15px 30px 15px 0;
  margin-top: 10px; }
  .testimonial-portrait span img {
    position: relative;
    height: 120px;
    width: 120px;
    padding: 2px;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: #ff007c;
    background-image: linear-gradient(to top, rgba(9, 157, 179, 0.7), transparent); }

.simple-button {
  border: 1px solid red;
  border-radius: 5px 0 5px 0;
  background-color: #fff;
  font-weight: bold;
  color: red;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  box-shadow: 0px 3px 6px -5px rgba(0, 0, 0, 0.8); }
  .simple-button:hover {
    color: red;
    background-color: #fff8f8; }
  .simple-button:disabled {
    opacity: 0.5; }

.click-anim-button {
  transform: translate(0, 1px);
  border: 1px solid rgba(255, 0, 0, 0.3);
  box-shadow: 0 0 0 0 transparent; }

.reset-padding {
  padding: 0 !important;
  margin: 0 !important; }

.reset-side-padding {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

.newsletter {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.85);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%; }

.col {
  height: 200px;
  width: 400px;
  margin-top: 20px;
  margin: 30px;
  color: #fff; }

.form-fields {
  height: 60px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0px solid transparent;
  border-radius: 5px 0 5px 0;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

input.input-newsletter {
  width: 150px;
  height: 20px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  background-color: transparent;
  border: 0;
  color: #aaa; }

input.input-newsletter:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.8); }

button:focus {
  outline: 0; }

.rotate {
  transform: rotate(180deg); }

.float-right {
  float: right; }

.right-padding {
  padding-right: 20px; }

em {
  font-style: italic;
  font-weight: lighter;
  display: block;
  margin-bottom: 15px; }

ul, li {
  list-style-type: none; }

nav ul li {
  text-transform: uppercase;
  list-style-type: none;
  font-family: Arial; }

img {
  max-width: 100%;
  height: auto;
  pointer-events: none; }
  img::selection {
    background: transparent; }

a, i {
  text-decoration: none;
  transition: all 250ms ease-in-out; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

@media (max-width: 1800px) {
  #header {
    width: 25%; }

  .wrapper {
    margin-left: 25%; }

  .header-navigation {
    width: 90%;
    margin: 0 auto; }

  .li-fcontact {
    width: 30%;
    line-height: 2em;
    font-size: 10px;
    padding-left: 20px; }
    .li-fcontact i.fa {
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 15px; }
    .li-fcontact dl dt {
      width: 35%; }
    .li-fcontact dl dd {
      width: 65%; } }
@media (max-width: 1199px) {
  #header {
    width: 100%;
    height: 220px;
    display: block;
    position: relative; }

  .wrapper {
    margin-left: 0;
    margin-top: 0; }

  .logo {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }

  .header-navigation {
    width: 100%; }

  .header-footer {
    visibility: hidden; }

  .header-menu {
    font-size: 20px;
    padding-top: 20px;
    overflow: hidden;
    display: inline-block; }
    .header-menu ul.main-menu li {
      display: inline; }
      .header-menu ul.main-menu li span a {
        padding: 0 20px;
        text-decoration: none;
        color: #fff; }
      .header-menu ul.main-menu li span a:before {
        display: none; }
      .header-menu ul.main-menu li span a:hover {
        right: 0; }

  .header-navigation {
    width: 100%;
    text-align: center;
    margin: 0 auto; }

  .rwd-menu-anchor {
    margin-top: 40px;
    visibility: visible;
    display: none;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px 0 8px 0;
    background-color: transparent;
    font-size: 20px;
    color: #fff; }
    .rwd-menu-anchor i {
      padding-right: 5px; } }
@media (max-width: 1400px) {
  .slide {
    width: 1200px; }

  .appointment-button {
    top: 30px; }

  .li-fcontact {
    clear: both;
    width: 100%;
    font-size: 13px;
    margin-bottom: 10px; }
    .li-fcontact i.fa {
      font-size: 20px;
      left: -10px; }

  .header-footer {
    height: 100px; }

  .header-footer-click {
    height: 450px; }

  .header-footer-contact {
    padding-top: 30px;
    opacity: 0; }

  .header-footer-contact-click {
    opacity: 1; }

  .main-menu-click {
    opacity: 0.1; }

  .open-up {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: red;
    position: relative;
    top: -15px;
    float: right;
    margin-right: 50px;
    z-index: 223;
    background-color: #ff007c; }
    .open-up:hover {
      cursor: pointer; }

  .fa-chevron-up {
    position: relative;
    top: -2px;
    color: #fff; }

  .header-footer-contact-click {
    opacity: 1; } }
@media (max-width: 768px) {
  .slide {
    max-width: 768px; }

  .baner {
    height: 300px;
    font-size: 12px; }

  .testimonial .testimonial-content blockquote {
    font-size: 18px; }

  .newsletter {
    height: 500px;
    flex-direction: column;
    align-items: flex-start; }
    .newsletter .col {
      display: block;
      width: 90%; }

  .main-content, .add-padding {
    width: 100%;
    padding: 0;
    padding-top: 10px; }
    .main-content .section-title, .add-padding .section-title, .main-content .description, .add-padding .description {
      padding: 10px; }

  .header-menu ul.main-menu li span a {
    font-size: 12px;
    padding: 0 5px; }

  .testimonial-portrait {
    padding: 5px 10px 5px 0;
    margin-top: 5px; }
    .testimonial-portrait span img {
      height: 100px;
      width: 100px;
      padding: 2px; } }
@media (max-width: 800px) {
  .header-menu ul.main-menu li span a {
    font-size: 20px;
    padding: 0 5px; } }
@media (max-width: 420px) {
  .slide {
    max-width: 420px; }

  #header {
    height: 100px;
    padding: 0; }

  .logo {
    padding-bottom: 0;
    padding-top: 20px; }

  .baner {
    height: 250px; }
    .baner .baner-description {
      height: 30px;
      bottom: 7px; }
      .baner .baner-description ul li {
        font-size: 12px;
        padding: 3px; }

  .testimonial .testimonial-content blockquote {
    font-size: 13px; }

  .header-menu {
    padding-top: 0; }
    .header-menu ul.main-menu li span a {
      font-size: 13px;
      padding: 0 5px; }

  .form-fields {
    width: 300px; }

  .section-title .float-right {
    float: none; }
    .section-title .float-right .simple-button {
      display: block; } }
@media (max-width: 375px) {
  .header-menu ul.main-menu li span a {
    font-size: 12px;
    padding: 0 3px; }

  .header-menu {
    padding-top: 0; }

  .form-fields {
    width: 270px; } }
@media (max-width: 320px) {
  .slide {
    width: 320px; }

  .header-menu {
    padding-top: 0; }
    .header-menu ul.main-menu li span a {
      font-size: 10px;
      padding: 0 2px; }

  .testimonial .testimonial-content blockquote {
    padding: 10px; }

  .baner {
    height: 150px; }
    .baner .baner-description ul li {
      font-size: 10px;
      padding: 0; }

  .newsletter {
    height: 550px; }
    .newsletter h3 {
      margin-right: 15px; }
    .newsletter .form-fields {
      height: 50px;
      width: 250px;
      display: block;
      text-align: center;
      padding: 0;
      padding-bottom: 50px; }
      .newsletter .form-fields .input-newsletter {
        height: 30px;
        margin-bottom: 10px;
        border-bottom: 1px solid grey; } }

/*# sourceMappingURL=style.css.map */
